.signup-container {
  padding: 1.5rem 1rem;
}

.signup-card {
  max-width: 650px;
  padding: 2.5rem 1.5rem; /* Override default to reduce horizontal space */
  box-sizing: border-box;
}

.signup-form {
  margin-top: 1rem;
}
